/* #payTable is the table on index.html */
#payTable th, #payTable td{
    border: solid thin black;
    padding: 5px;
}

#payTable th {
    background-color: rgb(204, 198, 198);
}

#payTable td{
    background-color: rgb(247, 243, 243);
}

table{
    border-collapse: collapse;
}

/* #userInput is the form on "Add-Edit Income.html" */
#userInput {
    border: solid thin black; 
    width:300px; 
    padding:15px;
    margin-top: 30px;
    background-color: rgb(247, 243, 243)
}

#userInput label {
    font-weight: bold;
    float: left;
}

#userInput input, #userInput select{
    float: right;
}

#submitButtonDiv {
    text-align: center;
}

h1 {
    text-decoration-line: underline;
}

.top {
    display: inline-flex;
    width:75%
}

#switchIncomeWrapper {
    background-color: rgb(204, 198, 198);
    margin: -10px;
    margin-bottom: 30px;
    padding:5px;
    text-align: center;
    border: thin black solid;
    
}
#switchIncomeWrapper select{
    float: none;
    margin-left: 25px;
}